.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: relative;
  width: 300px;
  min-height: 100vh;
  background: repeating-linear-gradient(
    135deg,
    #404d5a,
    #404d5a 5px,
    #3e4b58 5px,
    #3e4b58 10px
  );
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_header {
  position: relative !important;
  width: 100% !important;
  border-bottom: 1px solid rgb(128, 128, 128, 0.3);
  padding: 5px 10px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_logo {
  position: relative;
  width: 200px;
  height: 100%;
}

.sidebar_body {
  padding: 30px;
}

.sidebar_heading_text {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.sidebar_subheading_text {
  font-size: 17px;
  font-weight: normal;
  color: #cdd1d4;
  margin-top: 20px;
}

.sidebar_footer {
  position: relative;
  padding: 30px;
  display: flex;
  margin-top: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sidebar_footer_text_1 {
  font-size: 15px;
  font-weight: 400;
  color: #cdd1d4;
}

.sidebar_footer_text_2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.sidebar_footer_link {
  text-decoration: none;
  color: #ff8686;
  margin-right: 5px;
}

.sidebar_footer_link:hover {
  text-decoration: none;
  color: #ff8686;
}

@media (max-width: 900px) {
  .sidebar {
    width: 100vw;
  }

  .sidebar_body {
    text-align: center;
  }
}
