@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/public/assets/fonts/SF-Pro-Display-Heavy.otf');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/public/assets/fonts/SF-Pro-Display-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/public/assets/fonts/SF-Pro-Display-Medium.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/public/assets/fonts/SF-Pro-Display-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/public/assets/fonts/SF-Pro-Display-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/public/assets/fonts/SF-Pro-Display-Thin.otf');
  font-weight: 100;
  font-style: normal;
}

* {
  font-family: 'SF-Pro-Display', sans-serif;
}

body {
  margin: 0;
  font-family: 'SF-Pro-Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4b5a69 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
